    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Innovative Technologies propelling Jazz to new heights</h2>
                <p>"If a Jazz musician plays someone else's song, he has a responsibility to make a distinct & original statement."
 -Todd Boyd
</p>
                <p></p>
                <p>Jazz innovation is not a linear timeline of events with a clear beginning and end, but rather a circle that, akin to natural selection, constantly flows  and evolves from previous iterations of itself. The goal is to create an aural voyage around this circle; Starting from a place of relative familiarity and cultural significance, moving to uncomfortable and sometimes nightmarish reveries, to a resolution of these ideas and a cadence of genre. 
</p>
                <p></p>
            </div>
        </div>
    </section>
