    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Innovative Technologies propelling Jazz to new heights</h2>
                <p>Portraits of Change is an ongoing creative think-tank and mass-collaboration between jazz musicians, game developers, 3D and 2D visual artists, and music professionals in the Southern Colorado area.
</p>
                <p>Different jazz pieces will be showcased that have been innovative in the history of jazz. We will also try to innovative each piece in a different and new way.</p>
                <p>Each piece will vary in style, genre, and instrumentation quite radically to emulate the cultural heritage of jazz. Electronic synthesis will be at the core of musical innovation within Portraits of Change: From digitally altering the trumpet with cutting edge technology, to using MIDI controllers for looping and other live effects. Additionally, Ableton Live will be used to create entirely new sounds altogether. </p>
                <p>What could be considered the most important innovation that Portraits of Change is proud to explore includes using multimedia to enhance thematic material within the music. This is accomplished through the use of Augmented Reality technology. The Unity game engine will be able to create 3 dimensional projections in real time through the use of Virtual Reality headsets. This allows us to create virtual environments that the audience can become immersed into, that also reacts to the live music being played.</p>
                <p>The creative application of this technology is still in its infancy, which opens up a new frontier of art that could lead to an artistic digital renaissance.
</p>
                <p>More information, including VR demos, concept trailers, and art will be posted soon.</p>
            </div>
        </div>
    </section>
