    <!-- Download Section -->
    <section id="donate" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Donate</h2>
                    <p>Your contribution helps fund new innovations in both aural and visual arts within jazz. It also supports local musicians, developers, and artists all collaborating on this project. </p>
                    <p>This site is still under construction, check back soon!</p>
                   
                </div>
            </div>
        </div>
    </section>
