    <!-- Download Section -->
    <section id="donate" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Donate</h2>
                    <p>Your contribution helps fund new innovations and education within jazz. It also supports local musicians, developers, and artists as we trek across unknown artistic possibilities. </p>
                 <p>Portraits of Change is a sponsored project of Fractured Atlas, a non-profit arts service organization. Contributions for the charitable purposes of Portraits of Change must be made payable to Fractured Atlas only and are tax-deductible to the extent permitted by law.</p>
                    
                    <a href="https://fundraising.fracturedatlas.org/portraits-of-change" target="_top"><img src="https://www.fracturedatlas.org/site/images/contribute/donate_button1.gif" width="120" height="40" border="0" alt="Donate now!"/></a>
                   
                </div>
            </div>
        </div>
    </section>
